<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Add contacts in seconds using AgendaApp</h1>
                <p class="lead py-3">AgendaApp connects multiple accounts to create an address book for you, the user.</p>

                <li class="btn btn-primary d-inline-flex flex-row align-items-center">
                    <%= link_to "Get Started now", new_user_registration_path, class:"btn btn-primary d-inline-flex flex-row align-items-center" %>
                </li>
            </div>
        </div>
    </div>
</section>

<!-- features section -->
<section class="pt-6 pb-7" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">With AgendaApp you can keep your friends even closer</h2>
                <p class="text-muted lead">Interesting text that exaggerates my ability to create web pages!</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row feature-boxes">
                    <div class="col-md-6 box">
                        <div class="icon-box box-primary">
                            <div class="icon-box-inner">
                                <span data-feather="edit-3" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Create once. Share everywhere.</h5>
                        <p class="text-muted">Interesting text that exaggerates my ability to create web pages!</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-success">
                            <div class="icon-box-inner">
                                <span data-feather="monitor" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Unlimited devices</h5>
                        <p class="text-muted">Interesting text that exaggerates my ability to create web pages!</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-danger">
                            <div class="icon-box-inner">
                                <span data-feather="layout" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Beautiful tempates & layouts</h5>
                        <p class="text-muted">Interesting text that exaggerates my ability to create web pages!</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-info">
                            <div class="icon-box-inner">
                                <span data-feather="globe" width="35" height="35"></span>
                            </div>
                        </div>
                        <h5>Available globally</h5>
                        <p class="text-muted">Interesting text that exaggerates my ability to create web pages!</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<!--faq section-->
<section class="py-7" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Frequently asked questions</h2>
                <p class="text-muted lead">Answers to most common questions.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Is this your first application?</h6>
                        <p class="text-muted">This is indeed my first project using Ruby on Rails.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Is this the second most common question?</h6>
                        <p class="text-muted">This is indeed the second most common question and the answer for that is No.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Is this the third most common question?</h6>
                        <p class="text-muted">This is indeed the third most common question and the answer for that is Yes.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Is this the fourth most common question?</h6>
                        <p class="text-muted">This is indeed the fourth most common question and the answer for that is No.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Is this the fifth most common question?</h6>
                        <p class="text-muted">This is indeed the fifth most common question and the answer for that is Yes.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How can I contact you?</h6>
                        <p class="text-muted">Head over to the Contact Me section and ask away!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contact me section-->
<section class="py-7" id="contact_me">
	<div class="container">
		<div class="row">
	      <div class="col-md-6 mx-auto">
	        <div class="well well-sm">
	          <form class="form-horizontal" action="" method="post">
	          <fieldset>
	            <legend class="text-center">Contact Me</legend>
	    
	            <!-- Name input-->
	            <div class="form-group">
	              <label class="col-md-10 control-label" for="name">Name</label>
	              <div class="col-md-12">
	                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
	              </div>
	            </div>
	    
	            <!-- Email input-->
	            <div class="form-group">
	              <label class="col-md-10 control-label" for="email">Your E-mail</label>
	              <div class="col-md-12">
	                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
	              </div>
	            </div>
	    
	            <!-- Message body -->
	            <div class="form-group">
	              <label class="col-md-10 control-label" for="message">Your message</label>
	              <div class="col-md-12">
	                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
	              </div>
	            </div>
	    
	            <!-- Form actions -->
	            <div class="form-group">
	              <div class="col-md-8 text-right">
                    <li class="btn btn-primary d-inline-flex flex-row align-items-center">
                    <%= link_to "Submit", root_path, class:"btn btn-primary d-inline-flex flex-row align-items-center" %>
	              </div>
	            </div>
	          </fieldset>
	          </form>
	        </div>
	      </div>
		</div>
	</div>
</section>

<!--footer-->
<footer class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 mr-auto">
                <h5>About Me</h5>
                <p class="text-muted"> My Name is Panagiotis Zazos. I am a diligent and driven graduate Computer Scientist from National and Kapodistrian University of Athens seeking a career that fits my professional skills and personality.</p>
                <ul class="list-inline social social-sm">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/pzazos/" target="_blank"><i class="fa fa-facebook" style="font-size: 24px;"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/probablyzazos/" target="_blank"><i class="fa fa-instagram" style="font-size: 24px;"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/zazos"><i class="fa fa-github" target="_blank" style="font-size: 24px;"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/panagiotis-zazos-ba1a02188/" target="_blank" style="font-size: 24px;"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Partner</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Affiliates</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Help</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2019 Knight - All Rights Reserved
            </div>
        </div>
    </div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
